/* add your CSS here */



@font-face {
	font-family: 'Lobster', cursive;
}

.firstCard {
	border: 1px solid gray;
	width: 340px;
	box-shadow: 5px 5px 5px  rgba(68,68,68,0.6);
	
}

.title {
	margin-top: 30px;
	margin-left: 15px;
	margin-bottom: 20px;
	font-family: 'Lobster', cursive;
	font-size: 30px;
}

.image {
	/*align-items: center;*/
	border: 1px solid gray;
	padding: 0px 0px 0px 0px;
	width: 300px;
	height: 200px; 
	border-radius: 5px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.info {
	border: 1px solid gray;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
	text-align: justify;
}

.favorite {
	font-style: italic;
}
.items li {
	margin-left: -40px;
	text-align: left;
	list-style: none;
}

.items span {
	font-weight: bold;
}